

<!-- views/index.ejs -->

<h2>Expense List</h2>

<ul id="expense-list">
    <% expenses.forEach(expense => { %>
        <li>
            <strong><%= expense.description %></strong>
            <span><%= expense.amount %></span>
            <span><%= expense.date %></span>
        </li>
    <% }) %>
</ul>

<script>
    // Add front-end logic here
</script>

